.sanitize1{
    font-size: 2em;
    width: 50%;
    border: 1px solid white;
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family:bellota;

}

.sanitize2{
    font-size: 1em;
    width: 50%;
    border: 1px solid white;
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family:bellota;

}


