
body {
    background: rgb(48,48,48);
    background: linear-gradient(211deg, rgba(48,48,48,1) 0%, rgba(24,130,152,1) 37%, rgba(0,212,255,1) 100%); 
    background-attachment: fixed;
    font-family: "Bellota Bold";
}

/* Logo et texte  */

.img-fluid {
    max-width:55%;

}

h1 {
    font-family: "Bellota Bold";
    color : white;
    text-align: center;
}

hr {
    color : white;
    border: solid 1px white;
    display: block;
}

p {
    color: white;
}

.footer {
    text-align: center;
}

/*Le formulaire*/

h3 {
    color: white;
    text-align: center;
} 